.event{
    display: flex;
    flex-direction: column;
    flex:1;
    gap: 8px;
    
    border-radius: 8px;
    padding: 8px;
    height: 100%;
    background-color: white;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: right;
    
    background: linear-gradient(to bottom, rgba(32,71,148, 0.1), rgba(32,71,148, 0.05));
    &-date{
        text-align: right;
        display: flex;
        flex-direction: row-reverse;
        
        gap: 8px;
        // justify-content: space-between;
        font-size: 18px;
        &-type{
            font-size: 18px;
            font-weight: 600;
        }
    }
    &-info{
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 2px;
        
        &-time{
            font-size: 18px;
        }
        &-title{
            font-weight: 600;
            font-size: 22px;
        }
    }

    
}




