.schedule{
    padding: 32px;
    border-radius: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    h1{
      line-height: 1;
      margin: 0;
    }
     @media (max-width: 767px) {
      padding: 16px;
    }
}

.events{
    display: flex;
    flex-direction: row;
    gap: 16px;

    @media (max-width: 767px) {
      flex-direction: column;
    }
}
.events-title{
    font-size: 72px;
    margin: 0;
    font-weight: 600;   
    text-transform: uppercase;

    
    @media (max-width: 767px) {
        font-size: 32px;
  }
}