
.training   {
    max-width: 100%;
    
    // border-bottom: 12px solid white;
    @media (max-width: 767px) {
        margin-top: 230px;
  }
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
}


.contact{
    position: absolute;
    right: 50px;
    bottom: 50px;
    font-size: 52px;
    color: white;
    font-weight: 700;

    a{
        color: white;
    }
    @media (max-width: 767px) {
        padding: 16px;
        font-size: 18px;
        color: black;
        position: unset;
        a{
            color: blue;
    }

    }
    h1{
        margin:0;
        @media (max-width: 767px) {
                 font-size: 32px;
    }
    }
    display: flex;
    flex-direction: column;

}