
.photo   {
    max-width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: white;
    margin-bottom: 16px;
}

.content{
    padding: 16px 32px;
    @media (max-width: 767px) {
        padding: 16px;
    }
}
.links{
    
    display: flex;
    flex-direction: row;
     a{
        color: black;
    }
    font-size: 28px;    
    color: black;
    @media (max-width: 767px) {
      font-size: 16px;
    }

}
.contact{
    position: absolute;
    left: 32px;
    top: 16px;
   
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 767px) {
        font-size: 32px;
        left: 16px;
        a{
            color: blue;
    }

    }
    h1{   
        font-size: 72px;
        margin:0;
        @media (max-width: 767px) {
            font-size: 32px;
        }
    }

}
.email{
    flex: 1;
}