.container{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-right: 16px;
    gap: 8px;
    @media (max-width: 767px) {
      margin-top: -34px;
      
      margin-right: 0;
      margin-left: 0;
      justify-content: center;

      gap: 2px;
    }
}