.header{
    display: flex;
    flex-direction: row;
    z-index: 100;
    max-width: 100vw;
    width: 100%;
    flex: 1;
    top: 16px;
    padding: 16px 0;
    
    height: 120px;
    background-color: rgba(32,71,148, 0.5);
    
    position: absolute;
    align-items: center;

    
    [class*="container"]{
      max-width: 1300px;
      margin-left: auto;
    }
    @media (max-width: 767px) {
      margin-top: 12px;
      justify-content: center;
       flex-direction: column;
    }
}
  
.body{

  display: flex;
  flex-direction: column;
}
.image{
  max-width: 250px;
}

.footer{
  background-color: #204794;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
  gap: 8px;
}
.footer  [class*="container"]{
  margin-left: 0;
  font-size: 24px;
}

.social{
  display: flex;
  flex-direction: row;
  gap: 8px;
}