
.content{
  position: relative;
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  z-index: -initial;
}

.team{
  max-width: 100%;
  

  @media (max-width: 767px) {
    margin-top: 230px;
  }
}
.name{
  position: absolute;
  bottom: 190px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 9rem;
  font-weight: 700;
  max-width: 60vw;
  

  align-self: center;
  /* line-height: 1; */
  text-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;

  @media (max-width: 767px) {
    font-size: 52px;
    bottom: 0;
    max-width: 90vw;
  }

}

.view{
  /* position:absolute; */
  margin-top: 70vh;
  align-self: center;
  max-width: 60vw;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (max-width: 767px) {
    max-width: 90vw;
    min-width: 0;
    margin-top: 350px;
  }
}
.achievements{
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 16px;
  
  border-radius: 16px;
  @media (max-width: 767px) {
    bottom: 16px;
    flex-direction: column;
    display: none;
  }
  
}

.main{
  height: fit-content;
  background-size: 100% auto;
     background-image: url('/bg.jpg');
  @media (max-width: 767px) {
     background-image: url('/grass.png');
  }
}