
.content{
  position: relative;
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  z-index: -initial;
}

.team{
  max-width: 100%;
  

  @media (max-width: 767px) {
    margin-top: 230px;
  }
}
.description{
  color: white;  
  position: absolute;
  bottom: 24vh;
  width: 100%;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
  font-size: 48px;
  @media (max-width: 767px) {
  display: none;
  }
}
.name{
  position: absolute;
  bottom: 28vh;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 132px;
  font-weight: 700;
  width: 100%;

  align-self: center;
  /* line-height: 1; */
  text-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;

  @media (max-width: 767px) {
    display: none;
  }

}

.view{
  /* position:absolute; */
  margin-top: 95vh;
  align-self: center;
  max-width: 60vw;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (max-width: 767px) {
    max-width: 90vw;
    min-width: 0;
    margin-top: 220px;
  }
}
.achievements{
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 16px;
  
  border-radius: 16px;
  @media (max-width: 767px) {
    bottom: 16px;
    flex-direction: column;
    display: none;
  }
  
}

.main{
  height: fit-content;
  background-size: 100% auto;
  background-image: url('/bg.jpg');
  background-position: top -80px right 0;
  @media (max-width: 767px) {
     background-image: url('/grass.png');
  }
}