
.content{
  position: relative;
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  z-index: -initial;
}

.team{
  max-width: 100%;
  
  border-bottom: 12px solid white;

  @media (max-width: 767px) {
    margin-top: 230px;
  }
}
.name{
  position: absolute;
  bottom: 150px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 148px;
  font-weight: 700;

  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
/* text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  @media (max-width: 767px) {
    font-size: 64px;
    bottom: 140px;
  }

}

.view{
  align-self: center;
  /* max-width: 1300px; */
  
  background-color: white;
}
.achievements{
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 32px;
  @media (max-width: 767px) {
    bottom: 16px;
  }
}

.main{
  /* background-color: rgba(32,71,148); */
}