
.training   {
    max-width: 100%;
}
.photos{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    @media (max-width: 767px) {
        flex-direction: column;
    }
}
.photo{
    border-radius: 12px;
    flex: 1;    
     object-fit: cover;
    max-height: 500px;
    max-width: 100%;
    // object-position: 0 -200px ;
    @media (max-width: 767px) {
        max-width: 100%;
    }
}
.title{
    margin-top: 12px;
    font-size: 52px;
    margin: 0;
    font-weight: 700;
    padding: 16px;
    margin-top: -84px;
    color: white;
    @media (max-width: 767px) {
        font-size: 32px;
        
        margin-top: -64px;
    }
}
.description{
    flex: 1;
    padding: 8px 4px 8px 8px;
    border-radius: 12px;
    
    display: flex;
    flex-direction: column;
    background-size: 100% auto;

    ul{
        background-color: rgba(32, 71, 148, 0.1);
        border-radius: 8px;
        max-height: 200px;
        margin: 0;
        padding: 8px 8px 8px 28px;
        @media (max-width: 767px) {
            max-height: fit-content;
        }
    }
    @media (max-width: 767px) {
        max-width: 100%;
    }
}
.text{
    display: flex;
    flex-direction: row;
    @media (max-width: 767px) {
        flex-direction: column;
    }
}
.trainings{
    font-size: 72px;
    margin: 0;
    font-weight: 600;   
    text-transform: uppercase;
    position: absolute;
    left: 32px;
    top: 16px;

    @media (max-width: 767px) {
        font-size: 32px;
        left: 16px;
    }
    
}
.locations{
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.content{
    margin-top: -152px;
    position: relative;
    gap: 8px;
    display: flex;
    flex-direction: column;
    background-image: url('/bg.jpg');
    background-color: rgba(32,71,148, 0.1);

    background-size: 100% auto;
    @media (max-width: 767px) {
        margin-top: 0;
        background-image: url('/grass.png');
    }
}
.info{
    display: flex;
    background-color: white;
    border-radius: 12px;
    padding: 16px;

    flex-direction: column;
    @media (max-width: 767px) {        
        // flex-direction: column-reverse;
    }  
}
.location{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    align-self: center;
    
    max-width: 70vw;
    @media (max-width: 767px) {        
        flex-direction: column;
        max-width: 90vw;
        margin-top: 220px;
    }  
  
    &-image{
        width: 100%;
    }
    &-item{
        border-radius: 16px;
        background-color: white;
        flex: 1;
        font-size: 24px;
        h1{
            margin: 0;
            font-size: 52px;
            @media (max-width: 767px) {        
                 font-size: 32px;
            }
        }

        &-description{
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
       
    }
    h4{ margin: 0; font-weight: 500;
        @media (max-width: 767px) {        
            font-size: 16px;
        }
    }
    h3{ margin: 0; font-weight: 500;
        font-size: 20px;
        @media (max-width: 767px) {        
            font-size: 16px;
        }
    }
    h2{ margin: 0; font-weight: 500;}

}