.wrapper{
    position: relative;
}
.side{
    height: 50%;
    overflow: hidden;
}
.content{
    background-color: rgba(32,71,148, 0.7);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    left: 16px;
    bottom: 16px;
    position: absolute;
    color: white;
    width: calc(100% - 48px);
    h3{
        margin: 0;
        text-align: right;
    }
    span{
        font-weight: 600;
        font-size: 22px;
        text-align: right;
        @media (max-width: 767px) {
            font-size: 18px;
         }
    }
}
.photo{
    // max-width: 700px;
    width: 100%;
    border-radius: 8px;
}