.news{
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    @media (max-width: 767px) {
        padding: 0px;
    }
}

.news-wrapper{
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.news-title{
    font-size: 72px;
    margin: 0;
    font-weight: 600;   
    text-transform: uppercase;
    @media (max-width: 767px) {
        font-size: 32px;
    }
}
.news-content{
    display: flex;
    flex-direction: row;
    gap: 8px;
     @media (max-width: 767px) {
        flex-direction: column;
    }
}
.news-main{
    display: flex;
    width: 60%;
}
.news-list{
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 40%;
    @media (max-width: 767px) {
        flex-direction: column;
    }
    overflow-x: auto;
    overflow-y: hidden;
}

.news-item-title{
    h3{ margin: 0;}
}
