
.image   {
    
    max-width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    
    @media (max-width: 767px) {
      padding: 12px;
      margin-top: 220px;
      border-radius: 12px;
    }
}
.content{
    margin-top: -152px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    @media (max-width: 767px) {
      background-image: url('/grass.png');
      min-height: 90vh;      
      border-radius: 0px;
      margin-top: 0;
    }
}

.sponsors{
    max-width: 70vw;
    align-self: center;
    padding: 32px;
    @media (max-width: 767px) {
      padding: 8px;
      border-radius: 8px;
      background-color: white;
      max-width: 90vw;
    }
    p{
      margin: 8px;
    }
}
.title{
  font-size: 72px;
  margin: 0;
  font-weight: 600;   
  text-transform: uppercase;
  position: absolute;
  left: 32px;
  top: 16px;
  color: white;
  @media (max-width: 767px) {
    font-size: 32px;
    left: 16px;
  }
}
.text{
    font-size: 36px;
   @media (max-width: 767px) {
          font-size: 16px;
  }  
}